In [81]:
import numpy as np
import pandas as pd
from datasets import Dataset

In [70]:
path = "datasets"

In [71]:
#read in the first/primary dataset:
df1 = pd.read_excel(f"{path}/data.xlsx")
df1 = df1[["string","label"]]
df1 = df1.rename(columns= {"string":"text","label:":"label"})
df1 = df1.dropna()
df1.head()

,text,label
0,Most apples are a little sweet and a little ta...,A description and explanation of how apples taste
1,Apples rank among the world's most popular fru...,a summary of different uses for apples
2,"As white light passes through our atmosphere, ...",explanation of why the sky is blue
3,"In other words, the color of the ocean and the...",a distinction between why the ocean is blue an...
4,Color of Sunlight as seen on Earth's surface d...,explanation of why the sun is yellow

In [72]:
#read in a small second spread sheet
df2 = pd.read_excel(f"{path}/data_3.xlsx")
df2 = df2[["String","label"]]
df2 = df2.rename(columns= {"String":"text","label:":"label"})
df2 = df2.dropna()
df2.head()

,text,label
0,Soapstar Superstar is a British talent show th...,A brief history and description of Soapstar Su...
1,Okon Edet Uya (12 June 1947 – 17 April 2014) w...,A biography of Okon Edet Uya
2,The first route to be operated was the 348 ser...,Bus numbers and service routes
3,Yogacharya Govindan Nair was born in Kuttipuzh...,History of Yogacharya Govindan Nair
4,code_saturne is a general-purpose computationa...,Description of code_saturne computer program

In [73]:
#definitions:
df3 = pd.read_excel(f"{path}/defs.xlsx")
df3 = df3[["text","label"]]
df3.head()

,text,label
0,company is the state of being with someone,the definition of company
1,movements is a euphemism for defecation,the definition of movements
2,settled is to establish or develop as a residence,the definition of settled
3,content is the state of being contented with y...,the definition of content
4,reflect is to give evidence of the quality of,the definition of reflect

In [74]:
#Elias:
df4 = pd.read_excel(f"{path}/ELI5.xlsx")
df4 = df4[["answers","Label:"]]
df4 = df4.dropna()
df4 = df4.rename(columns= {"answers":"text","Label:":"label"})
df4.head()

,text,label
0,"Two things going on here. First, heat doesn't...",explaination of why light skin burns easier in...
1,It's mostly due to the difference in immune sy...,explaination of why chickenpox is worse as an ...
2,"It has to include equipment, pay for employees...",breakdown of a movie's budget
7,jugs work by dripping water thru activated car...,explanation of how a water purifier jug works ...
9,Our brains like familiar things. Something we ...,explanation of why human like rewatching tv shows

In [75]:
#scicite:
df5 = pd.read_excel(f"{path}/scicitetrain copy.xlsx")
df5 = df5[["strings","my label"]]
df5 = df5.dropna()
df5 = df5.rename(columns= {"strings":"text","my label":"label"})
df5.head()

,text,label
1,"In the study by Hickey et al. (2012), spikes w...",A procedure of about grain germs
2,"The drug also reduces catecholamine secretion,...",benefits of a drug
3,By clustering with lowly aggressive close kin ...,benefits of clustering in animals
4,Ophthalmic symptoms are rare manifestations of...,specification of a list of ophthalmis symptoms
6,These problems combine to make early diagnosis...,call for action around diagnoses

In [76]:
#wikis:
df6 = pd.read_excel(f"{path}/wikis.xlsx")
df6 = df6[["extracts","labels"]]
df6 = df6.dropna()
df6 = df6.rename(columns= {"extracts":"text","labels":"label"})
df6.head()

,text,label
0,Holmfirth railway station is a former railway ...,definition of the holmfirth railway station
5,Attila Levin is a Swedish professional boxer.,biography of Attila Levin
10,"Withrow is a neighborhood of Grant, Washington...",History of Winthrow Minnesota
13,"Kunaal Roy Kapur is an Indian actor, playwrigh...",biography of Roy Kapur
14,Salford Quays tram stop is a stop on Greater M...,specification of location of salford Quays tra...

In [77]:
dfs = [df1, df2,df3,df4,df5,df6]

In [78]:
df = pd.concat(dfs)

In [82]:
dataset = Dataset.from_pandas(df)

In [85]:
dataset.to_json(f"{path}/large_dataset.json")

Creating json from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

438064

In [86]:
df = pd.concat([df1,df2,df4,df5,df6])
dataset = Dataset.from_pandas(df)
dataset.to_json(f"{path}/small_dataset.json")

Creating json from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

394284