In [44]:
import numpy as np
import os
import pandas as pd
import re
from collections import Counter
print(os.getcwd())

/Users/willjaekle/Desktop/workspace/Brown/Data2050/Src

In [17]:
project_path = "~/Desktop/workspace/brown/data2050"

In [2]:
file_path = "../Data/raw/QA/QA1.txt"

In [30]:
with open("../Data/raw/QA/QA1.txt") as f:
    var = f.read()
dicts = []
for chunk in var.split("\n------------------------------\n"):
    c = chunk.split("\n")
    q = c[0].replace("Question:","").replace("<p>","")
    a = c[1].replace("Answer:","").replace("<p>","")
    q = " ".join([re.sub(r'\W+', '', string) for string in q.split(" ")])
    a = " ".join([re.sub(r'\W+', '', string) for string in a.split(" ")])
    
    dicts.append({ "Question":q,"Answer":a})
df1 = pd.DataFrame(dicts)

In [31]:
with open("../Data/raw/QA/QA2.txt") as f:
    var = f.read()
dicts = []
for chunk in var.split("\n------------------------------\n"):
    c = chunk.split("\n")
    q = c[0].replace("Question:","").replace("<p>","")
    a = c[1].replace("Answer:","").replace("<p>","")
    q = " ".join([re.sub(r'\W+', '', string) for string in q.split(" ")])
    a = " ".join([re.sub(r'\W+', '', string) for string in a.split(" ")])
    
    dicts.append({ "Question":q,"Answer":a})
df2 = pd.DataFrame(dicts)

In [46]:
df1

,Question,Answer
0,Who created KnowHowAngels,KnowhowAngelscom was created and is owned and...
1,who owns KnowHow Angels,KnowhowAngelscom was created and is owned and...
2,what is the relation between Docunexus and Kn...,KnowhowAngelscom was created and is owned and...
3,How much does it cost for angels experts,KnowHowAngels will always be free for experts...
4,How much does it cost for users,It doesnt cost nonangel users anything to reg...
...,...,...
679,What does the Laffer curve show,The Laffer Curve shows the relative rates of ...
680,What is the J curve in economics,A J curve is any of a variety of Jshaped diag...
681,What is the Gini coefficient,The Gini index or Gini coefficient is a measu...
682,What is purchasing power parity,Purchasing power parities PPPs are the rates ...
683,What is sterilization in economics,The term sterilization is used in internation...

In [33]:
df2

,Question,Answer
0,Tools for social media managers,Social media management tools are for contro...
1,Why was the Tet offensive launched,The Tet Offensive was one of the largestmili...
2,how did the antiwar movement in the US react ...,The events of Tet in early 1968 as a whole w...
3,how dangerous is the omicron mutation of coro...,Chan School of Public Health and other resea...
4,ethics of automated content creation,The technological advances ó in engineering ...
...,...,...
239,example of data wrangling,Other commonly used examples of data wranglin...
240,Examples of misinformation in fitness supplem...,Rachel Scheer is a Certified Nutritionist wh...
241,misinformation in fitness supplements,Misinformation Dr Mary Flynn chief specialis...
242,Hydroflask,Hydro Flask is a water bottle brand owned by...
243,Calories burned in cardio sample research,According to a study by the American Council...

In [37]:
with open("../Data/raw/QA/QA1.txt") as f:
    var = f.read()
    print(Counter(re.sub(r'\W+', '',var.lower())))
print("\n\n")
with open("../Data/raw/QA/QA2.txt") as f:
    var = f.read()
    print(Counter(re.sub(r'\W+', '',var.lower())))

Counter({'e': 54884, 't': 43024, 'a': 38501, 'n': 35477, 'i': 35003, 's': 34365, 'o': 34328, 'r': 30233, 'l': 19128, 'c': 18063, 'h': 17140, 'd': 15626, 'p': 14776, 'u': 13671, 'm': 12026, 'f': 10184, 'g': 9927, 'b': 6753, 'y': 6688, 'w': 6624, 'v': 4800, 'k': 2713, 'q': 1795, 'x': 1478, '1': 822, '8': 682, '0': 661, '2': 611, 'z': 604, 'j': 566, '6': 520, '3': 517, '5': 469, '7': 414, '4': 404, '9': 352, '_': 132, 'í': 124, 'ì': 42, 'î': 41, 'ñ': 26, 'ó': 22, 'ë': 14, 'ö': 3, 'ï': 2, 'ô': 1, 'è': 1})



Counter({'e': 22830, 't': 17143, 'a': 16244, 'i': 15333, 'n': 14599, 'o': 14257, 's': 13271, 'r': 12352, 'h': 7956, 'c': 7878, 'l': 7570, 'd': 6643, 'u': 5233, 'm': 4975, 'p': 4645, 'f': 4092, 'g': 3712, 'y': 3254, 'w': 2808, 'b': 2755, 'v': 2023, 'k': 1324, 'x': 514, '0': 439, 'q': 426, '1': 356, '2': 328, 'í': 236, 'z': 232, 'j': 225, '9': 139, '3': 129, '5': 115, 'ì': 84, '4': 82, 'î': 75, '7': 71, '8': 68, '6': 67, 'ñ': 59, 'ó': 41, 'ë': 41, '_': 26, 'û': 5, 'è': 3, 'á': 2, 'ı': 2, 'ö': 2, 'ù': 1, 'ω': 1})

In [45]:
df1.to_csv("../data/processed/cleanedQA1.csv")
df2.to_csv("../data/processed/cleanedQA2.csv")